input#generated-password {
  width: 400px;
  font-size: 1.2em;
}

#blurb{
  clear: both;
  padding: 20px 0 ;
}

#generator{
  width: 600px;
  margin: auto;
  border: dotted 1px red;
  padding: 30px;
  height: 40px;
}
#generator input{
  float: left;
}

p#xkcd-image{
  padding: 20px;
  clear: both;
}

