<h1>XKCD 936 compliant password generator (I think)</h1>

<div id='generator-box'>
  <p id='error'>Ooops, there was a bit of a problem. Try again?</p>
  <div id="generator">
    <input type="text"  id="generated-password" value="<%=@password%>" onselect="select_text();" onclick="select_password();" readonly="readonly">
    <%=form_tag('/passwords', :method=>'get', :id=>'generate-password-form', :remote=>true) do -%>
      <%= submit_tag "Generate a password" %>
    <% end -%>
    <%= image_tag('ajax-loader.gif', :id=>'ajax-loader') %>

  </div>
</div>

<div id="blurb">

<p><a href="http://xkcd.com/936/">XKCD 936</a> (below) was a revalation to me. I felt fooled by previous password advice.  But how can we choose 4 random common words?  Well, hit the button above to a generate a four-word password from the 2,284 word-long <a href="http://jbauman.com/aboutgsl.html">General Service List</a>.</p>



<p><em>Disclaimer:</em> I am neither a security expert, or versed in Information Theory.  I do not know for sure choosing 4 words from a 2,284 long list gives good enough passwords.  If you want to enlighten me, I am <a href="https://twitter.com/paulanthonywils">@paulanthonywils</a> on Twitter.</p>

</div>

<hr/>
<p id='xkcd-image'>
  <a href="http://xkcd.com/936/"><img src="http://imgs.xkcd.com/comics/password_strength.png" alt="XKCD password strength panels"/></a>
</p>

<script>
  function select_password(){
    var passwordElement = document.getElementById('generated-password');
    passwordElement.focus();
    passwordElement.select();
  }

  $('#generate-password-form')
  .bind('ajax:beforeSend', function(){$('#ajax-loader').show();})
  .bind('ajax:complete', function(){$('#ajax-loader').hide();})
  .bind('ajax:error', function(){$('#error').show(); $('#generated-password').val('');})
  .bind('ajax:success', function(){$('#error').hide();});
</script>
