<h1>Correct Horse Battery Staple</h1>

<p><a href="http://xkcd.com/936/">XKCD 936</a> (below) was a revalation to me. I felt fooled by previous password advice.  But how can we choose 4 random common words?  Well, hit the button below to a generate a four-word password from the 2,284 word-long <a href="http://jbauman.com/aboutgsl.html">General Service List</a>.</p>



<p><em>Disclaimer:</em> I am neither a security expert, or versed in Information Theory.  I do not know for sure choosing 4 words from a 2,284 long list gives good enough passwords.  If you want to enlighten me, I am <a href="https://twitter.com/paulanthonywils">@paulanthonywils</a> on Twitter.</p>


<p id="generator">
<input type="text"  id="generated-password" value="<%=@password%>" onselect="select_text();" onclick="select_password();" readonly="readonly">
<%=form_tag('/passwords', :method=>'get') do -%>
  <%= submit_tag "Generate a password" %>
<% end -%>

</p>

<hr/>
<p id='xkcd-image'>
  <a href="http://xkcd.com/936/"><img src="http://imgs.xkcd.com/comics/password_strength.png" alt="XKCD password strength panels"/></a>
</p>

<script>
  function select_password(){
    var passwordElement = document.getElementById('generated-password');
    passwordElement.focus();
    passwordElement.select();
  }
</script>
