input#generated-password {
  width: 35em;
  font-size: 1.2em;
}

#blurb{
  clear: both;
  padding: 20px 0 ;
}

#generator-box{
  width: 48em;
  margin: 2em;
}

#generator{
  width: 42em;
  border: dotted 1px red;
  padding: 30px;
  height: 180px;
}

#generator label{
  width: 200px;
  float: left;
  display: block;
}

p#xkcd-image{
  padding: 20px;
  clear: both;
}

img#ajax-loader{
  display: none;
}

p#error{
  display: none;
  color: red;
}

